<?xml version="1.0" encoding="UTF-8"?>
<!-- Root Element beans which defines the bean objects -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Configuration XML file for dependency Injection that is being maintained by Spring
    container-->
    <!-- Bean Tag is used to create bean object-->
    <bean id="msgBean" class="com.wipro.sample.HelloWorld">
        <!-- Value for msg String Object injected here-->
        <property name="msg" value="To our first Spring Project."></property>
    </bean>

</beans>